@{
    ViewBag.Title = "Home Page";
    Layout = null;
}
<html ng-app="appmodule">
<head>
    @Styles.Render("~/bundles/nursingapp/style")
    @Scripts.Render("~/bundles/nursingapp/script")
</head>
<body class="container">
    <div class="row">
        <div ng-view></div>
    </div>
</body>
</html>
