<head>
    <title>Add Scenario</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

</head>
<body ng-app="nursingApp">
    <div class="wrap" style="width: 100%">
        <div style="float: left; width: 50%">
            <form name="form">
                <label class="control-label" for="scenarioName">Scenario Name: </label>
                <input type="text" name="scenarioName" id="scenarioName" class="form-control" ng-model="scenarioName">
                <input type="text" name="scenarioDescription" id="scenarioDescription" class="form-control" ng-model="scenarioDescription">
                <input type="text" name="scenarioGoals" id="scenarioGoals" class="form-control" ng-model="scenarioGoals">
                <br /> Section:
                <div class="form-group">
                    <label class="control-label">Section</label>
                    <input type="text" class="form-control" placeholder="" ng-model="sectionName">
              
                    <div class="form-group">
                        <label class="control-label">Question</label>
                        <input type="text" class="form-control" placeholder="Question" ng-model="question">
                        <input type="text" class="form-control" placeholder="Answer" ng-model="answer">
                        <input type="text" class="form-control" placeholder="Hint" ng-model="hint">
                    </div>
                </div>
                <button type="button" class="btn btn-default" ng-click="getKeywords()">
                    Get Keywords
                </button>
                
                <div class="input-group" ng-repeat="item in questionArray track by $index">
                    <input type="text" class="form-control" ng-model="questionArray[$index]" />
                    <span class="input-group-btn">
                        <button class="btn btn-default" type="button" ng-click="removeKeywords($index)">Remove Keyword</button>
                    </span>
                </div>
                <button type="button" class="btn btn-default" ng-click="addKeywords()">
                    Add More Keywords
                </button>
                    <button type="button" class="btn btn-default" ng-click="addQuestion()">
                        Add Question
                    </button>
            </form>
        </div>
        <div style="float: right; width: 50%;">
            <div style="margin-left: 40px">
                <p>Scenario: {{scenarioName}}</p>
                <fieldset ng-repeat="section in scenarios">
                    <p>Section: {{section.section}}</p><br />
                    <p>
                        Question:
                        {{section.questions}}
                    </p>
                    <p>
                        Answer:
                        {{section.answers}}
                    </p>
                    <p>
                        Hint:
                        {{section.hints}}
                    </p>
                    <p>
                        Keywords:
                        <div ng-repeat="keyword in section.keywords">
                            {{keyword}}
                        </div>
                    </p>
                </fieldset>
                <button type="button" class="btn btn-default" ng-click="saveSection()">
                    Save Section
                </button>
            </div>
        </div>
        <div style="clear:both"></div>
        </div>
</body>