<nav class="navbar navbar-default" role="navigation">
    <div class="container-fluid" ng-controller="headerController">
        <div class="navbar-header">
            <a class="navbar-brand" href="#">Nursing App</a>
        </div>
        <ul class="nav navbar-nav">
            <li class="active"><a href="#">Home</a></li>
            <li class="dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                    Scenarios
                    <span class="caret"></span>
                </a>
                <ul class="dropdown-menu">
                    <li ng-repeat="scenario in Scenarios">
                        <a href="#/practice/{{scenario.Id}}">{{scenario.Name}}</a>
                    </li>               
                </ul>
            </li>
            <li><a href="#/addscenario">Add Scenario</a></li>
            <li><a href="#">View Scores</a></li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
            <li class="active"><a href="#">Help</a></li>
            <li><a href="#/register"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
            <li><a href="#/login"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
        </ul>
    </div>
</nav>
