<html>
<head>
    <title>Practice Scenario</title>
    <meta charset="utf-8" />
</head>
<body ng-app="nursingApp">
    <div>
        <div>
            <h3 class="SectionName"> You are in section {{sectionStartIndex+1}}: {{allSections[sectionStartIndex].Name}}</h3>
        </div>
        <label class="control-label" for="question">Enter a question: </label>
        <div class="form-group">
            <input type="text" name="question" id="question" class="form-control" ng-model="studentQuestion">
            <button type="submit" class="btn btn-default" ng-click="parse()">
                Go
            </button>
        </div>
        <button type="submit" class="btn btn-default" ng-click="compareAPI()">
            Submit
        </button>     

        <p>Answer: {{answer}}</p>

        <button type="submit" class="btn btn-default" ng-click="start()">Prev Section</button>
        <button type="submit" class="btn btn-default" ng-click="goToNextSection()">Next Section</button>

    </div>
</body>
</html>
